*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: cornflowerblue;
}

nav{
    background: #1488CC; 
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); 
    background: linear-gradient(to right, #2B32B2, #1488CC);
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    margin-top: 0;
    height: 60px;
    width: 200px;

}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: initial;
    font-weight: bold;
}

li a.active, li a:hover{
    background: #0057FF;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 30px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px ;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(67, 67, 223) ;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(0, 238, 255)
    }
    #check:checked ~ul{
        left: 0;
    }  
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.weight-400{
    font-weight:400;
}

.weight-400 h1{
    font-size: 60px;
}

.weight-600{
    font-weight: 600;
    width: 40%;
}
.parrafo{
    margin-bottom: 20px;
}

.header{
    height: 650px;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}


header{
    height: 700px;
    background: white;
}

.img-hero{
    width: 80%;
    height: auto;
    grid-column: 7/13;

}

.img{
    width: 95%;
    max-width: 400px;
}

.textos-hero{
    grid-column: 1/7;
    padding-right: 20px;
    font-size: 30px;
}

.textos-hero p{
    text-align: justify;
}


/*about us*/

.about-us{
    color:black;
    height: auto;
    padding-bottom: 60px;
    padding-top: 60px;
}

.textos-about-us{
    grid-column: 1/-1;
    text-align: justify;
}

.textos-about-us .parrafo{
    margin-top: 10px;
    color: black;
}

.subtitulo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


/*footer*/

footer{
    width: 100%;
    background: -webkit-linear-gradient(to right, #272c9b, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #272c9b, #1488CC);
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: auto;
    margin-bottom: auto;  
    background: #2B32B2;
    background: -webkit-linear-gradient(to right, #272c9b, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #272c9b, #1488CC);
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: white;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color:white;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}



